
/* Logo */
.logo-home {
   margin: 0, auto;
    width: 50px;
   height: 50px;
}

.opening{
  text-align: left;
  top: 80%;
}


/* .main {
  position: absolute;
  left: 15%;
  top: 35%;
} */


/* Main Page Heros */
.catering-heroimage{
  background-image:  url(images/Catering.jpg);
  background-color: #4f8a8b;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}
.catering-text{
  text-align: center;
  left: 50%;
}
.heroimage {
        background-image:  url(images/hero.JPG);
        background-color: #4f8a8b;
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover; 
        box-shadow: inset 0 0 0 2000px rgba(46, 40, 43, 0.3);
        /* position: fixed;
        z-index: 3; */
      }
      
.menu-heroimage{
  background-image:  url(images/menu1.jpg);
  background-color: #4f8a8b;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}
.menu-text{
   right: 35%;
  top: 25%;
  font-size: 3rem;
}
.locaton-heroimage{
  background-image:  url(images/our-locations.jpg);
  background-color: #4f8a8b;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  box-shadow: inset 0 0 0 2000px rgba(46, 40, 43, 0.3);
}
.location-text{
   right: 35%;
  top: 25%;
  font-size: 3rem;
}
  h1{
        font-family: 'Berkshire Swash', cursive;
        /* text-align: left;
        margin-left: 10%; */
        

      }

.intro.display{
 height: 5%;
  }
  .jumbo-text{
    text-align: center;
  }
  /* Hero images */
    .gyro{
      background-image:  url(images/gyro-hero.jpg);
      background-color: #4f8a8b;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat; 
      background-size: cover;
      
    } 
    .center{
      margin-left: 45%;
    }
    .chicken{
      background-image:  url(images/chicken-hero3.jpg);
      background-color: #4f8a8b;
      height: 350px;
      background-position: center;
      background-repeat: no-repeat; 
      background-size: cover;
    } 
    .salad{
      background-image:  url(images/salad-hero.jpg);
      background-color: #4f8a8b;
      height: 350px;
      background-position: center;
      background-repeat: no-repeat; 
      background-size: cover;
    } 

    .steam{
      background-image:  url(images/steam-hero.jpg);
      background-color: #4f8a8b;
      height: 350px;
      background-position: center;
      background-repeat: no-repeat; 
      background-size: cover;
    } 

    .fish{
      background-image:  url(images/fish-hero.jpg);
      background-color: #4f8a8b;
      height: 350px;
      background-position: center;
      background-repeat: no-repeat; 
      background-size: cover;
    } 

    .sandwich{
      background-image:  url(images/sandwich-hero.jpg);
      background-color: #4f8a8b;
      height: 350px;
      background-position: center;
      background-repeat: no-repeat; 
      background-size: cover;
    } 


    .combo{
      background-image:  url(images/combo-hero.jpg);
      background-color: #4f8a8b;
      height: 350px;
      background-position: center;
      background-repeat: no-repeat; 
      background-size: cover;
    } 
    .kids{
      background-image:  url(images/kids-hero.jpg);
      background-color: #4f8a8b;
      height: 350px;
      background-position: center;
      background-repeat: no-repeat; 
      background-size: cover;
    } 

    .side{
      background-image:  url(images/Jalapeno\ Cheese.JPG);
      background-color: #4f8a8b;
      height: 350px;
      background-position: center;
      background-repeat: no-repeat; 
      background-size: cover;
    } 



   body {
       font-family: "Montserrat";
       
     }

     h1, h2, h3, h4, h5, h6 {
      font-family: 'Noto Serif', serif;
    }
    
     /* Navigation Bar */
   
   .navbar {
       list-style: none;
       font-weight: bold;
       text-align: center;
                 }
     
       
     .nav-item {
       padding: 0 18px;
     }
   
     /* Main Page */
     .greeting{
      font-family: 'Berkshire Swash', cursive;
        text-align: center;
         line-height: 3.5rem;
         margin-bottom: 2rem auto;
         padding: 7% 15%;
     }
     .featurette-heading{
      margin: 0 15%;
     }
    .lead{
      font-family: 'Noto Serif', serif;
      line-height: 3.5rem;
      text-align: left;
      margin: 15%;
      margin-top: 7%;
    }
          
      .options{
        padding: 7% 25%;
       margin-top: 20%;
      }

        /* Menu Page */
      .rounded-circle{
           padding: 7% 5%;
           margin-top: 20%;
      }

      .menu-items{
            margin: 2% 5% 7%;
            text-align: center;
         }
      .pricing{
        text-align: center;
      }

      /* Carousels */
    
        .intro{
          margin-left: 5px;
        }
        .container-fluid{
          text-align: center;
          
        }
     
      
      .car-two{
        background-color: #eeeeee;
        padding: 7% 35%;
        position: fixed;
      }
      .fa-2x {
        padding: 30px;
        
        width: 50px;
        text-align: center;
        text-decoration: none;
      }
      
  
     .fa-2x:hover {
        opacity: 0.7;
     }
     /* Locations */
     .btn-group{
       text-align: center;
       margin-left: 17%;
       margin-top: 5%;
     }
    
  .card{
 text-align: center;
}